@model e_commerce_internship.Models.Cart

<li class="side-menu">
    <a class="nav-link" href="/Cart/Index">
        <i class="fa fa-shopping-bag"></i>
        <span class="badge">@Model.CartLines.Count</span>
    </a>
</li>
