
@{
    ViewBag.Title = "ShippingCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart-box-main">
    <div class="container">
        <h2>Sipariş tamamlandı. Ürününüz en kısa zamanda kargoya teslim edilecektir...</h2>
    </div>
</div>


